<div>
  <p><%= link_to 'Voltar', root_path %></p>
</div>

<%= form_with(model: @einvoice) do |f| %>
  <div>
    <%= f.label :xml_file %>
    <%= f.file_field :xml_file %>
  </div>

  <div>
    <%= f.submit 'Enviar' %>
  </div>
<% end %>
